// Bootstrap Grid only
//
// Includes relevant variables and mixins for the flexbox grid
// system, as well as the generated predefined classes (e.g., `.col-sm-4`).

//
// Box sizing, responsive, and more
//

@at-root {
  @-ms-viewport { width: device-width; }
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "../utils/functions";
@import "../utils/variables/bootstrap-variables";

//
// Grid mixins
//

@import "../utils/mixins/breakpoints";
@import "../utils/mixins/grid-framework";
@import "../utils/mixins/grid";

@import "grid/grid";
@import "../utils/utilities/flex";
